{% extends "base.html" %}

{% block title %}Публикации{% endblock %}


{% block content %}

<br>
<br>
<h1>Публикации автора</h1>

<div class="item-list">

    {% id posts %}
    <div class="item-blck">
        <img class="item-img" src="{{ url_for('static', filename='img/noimage.jpg') }}" alt="" loading="lazy"/>

        <div class="item-content">
            <div class="item-title">{{ posts.title }}</div>
            <div class="item-text">{{ posts.text }}</div>
        </div>
    </div> <!-- product-blck -->
    {% else: %}
        Такой публикации не существует
    {% endif %}

</div> <!-- item-list -->

{% endblock %}