* {margin: 0; padding: 0;
    box-sizing: border-box;
}

html, body {height: 100%; font-family: Arial, Helvetica, sans-serif; font-size: 14px;}

h1 {text-align: center; margin-bottom: 30px;}

#wrapper {
    height: 100%;
    padding: 20px;
}


/* form */
.form {max-width: 400px; margin: 0 auto;}

.input {padding: 0 10px; height:40px; width: 100%; margin-bottom: 10px;}
textarea.input {padding: 10px; resize: vertical; min-height: 100px;}

.btns-row {text-align: center;}
.btn-form {min-width: 200px; height: 40px; padding: 4px 10px; background: blue; border: none; color: #fff; font-weight: bold; cursor: pointer; transition: 0.3s;}
.btn-form:hover {opacity: 0.7;}


/* form-search */
.form-search {max-width: 800px; margin-bottom: 30px;}
.form-search .input {font-weight: bold;}

/* news-list */
.news-list {max-width: 800px; margin: 0 auto;}

.news-blck {margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.news-img {width: 150px;
    flex-shrink: 0;
}
.news-img img {width: 100%;}

.news-content {
    flex-grow: 1;
}
.news-title {font-size: 20px; color: #000;}
.news-title a {text-decoration: none; color: inherit;}
.news-title:hover {color: blue;}

.news-author {margin-top: 10px; font-size: 12px;}

